@tailwind base;

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */
@tailwind components;

.btn {
  @apply py-3 px-5 bg-blue-800 text-white rounded cursor-pointer transition-colors duration-150 inline-flex justify-center font-medium;
}
.btn:hover {
  @apply bg-blue-700;
}
.btn:active {
  @apply bg-blue-600;
}

.link {
  @apply font-bold text-blue-800 cursor-pointer;
}
.link:hover {
  @apply text-blue-700;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////// */
@tailwind utilities;

.h-screen {
  height: 100vh;
  height: var(--app-height);
}

.gradient-white {
  background: linear-gradient(247.05deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 1) 100%);
}

.container {
  @apply max-w-6xl px-4 mx-auto w-full;
}

body {
  @apply font-body text-gray-700;
}
